<h1>@this.User.Identity.Name</h1>
<form method="post" enctype="multipart/form-data">
<input name="file" type="file">   
<input asp-area="Profile" asp-controller="MyUser" asp-action="ChangeProfilePic" type="submit">
</form>