@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" method="post"  novalidate>
                            <div id="main-form">
                                <div class="col-md-12">
                                   <label asp-for="Input.Username"></label>
                                   <input class="form-control" asp-for="Input.Username">
                                   <span class="text-danger" asp-validation-for="Input.Username"></span>
                                </div>

                                <div class="col-md-12">
                                    <label asp-for="Input.Password"></label>
                                    <input class="form-control" asp-for="Input.Password">
                                    <span class="text-danger" asp-validation-for="Input.Password"></span>
                                </div>
                                
                                <div class="col-md-12">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input class="form-control" asp-for="Input.ConfirmPassword">
                                    <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
                                </div>
                                <div class="form-button mt-3">
                                    <button class="btn btn-primary">Register</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
