@using GameApp.Web.Models.Game
@{
    ViewData["Title"] = "AllGames";
}
@model AllGamesViewModel


<form method="get" class="form-inline my-2 my-lg-0">
    <input name="gameName" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Score</th>
      <th scope="col">More</th>
    </tr>
  </thead>
  <tbody>

    @foreach(var item in Model.Games)
    {
        <tr>
          <td class="nopadding">
              <div class="table-div-float-left">
                  <img  width="50px" height="70px"src="~/Files/@item.ImgUrl">
                  
                  <div class="name-column-2">
                    <h5 class="game-name">@item.Name</h5>
                    <div hidden class="ganres">
                        <ul>
                            @foreach(var genre in item.Genres)
                                    {
                                        <li>@genre</li>
                                    }
                             <li>Test</li>
                        </ul>

                    </div>
                  </div>
                </div>
                
                
              
          </td>
          <td class="nopadding">@item.Price
          </td>
          <td class="nopadding">@item.Score.ToString("F2")
          </td>
          <th scope="col"><a class="btn btn-primary" href="/Game?title=@item.Name">More</a></th>
        </tr>
    }
  </tbody>
</table>




