@using GameApp.Web.Models.Game
@{
    ViewData["Title"] = "CreateGame";
}
@model CreateGameInputModel
<div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Create Game</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" method="post" enctype="multipart/form-data" novalidate>
                            <div id="main-form">
                                <div class="col-md-12">
                                   <label asp-for="Name"></label>
                                   <input class="form-control" asp-for="Name">
                                   <span asp-validation-for="Name"></span>
                                </div>

                                <div class="col-md-12">
                                    <label asp-for="Price"></label>
                                    <input class="form-control" asp-for="Price">
                                    <span asp-validation-for="Price"></span>
                                </div>

                                <div class="col-md-12">
                                    <label asp-for="Description"></label>
                                    <textarea class="form-control" asp-for="Description" ></textarea>
                               </div>

                               <div class="col-md-12">
                                    <label asp-for="Image"></label>
                                    <input class="form-control" asp-for="Image" >
                               </div>

                                <div class="col-md-12" id="genre-conteiner">
                                    @await Component.InvokeAsync("SelectGenre")
                                </div>

                            </div>


                            <div class="mt-3">
                                <button class="btn btn-primary" onclick="AddGenre(event)" id="add-genre-button">Add Genre</button>
                            </div>
                            <div class="form-button mt-3">
                                <button class="btn btn-primary" asp-controller="Game" asp-action="Create">Add Game</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
