@model IEnumerable<string>

<select id="select-genre-0" name="Genres[0]" class="form-select mt-3" required>
        <option selected disabled value="">Genre</option>
        @foreach(var genre in Model)
        {
            <option value="@genre">@genre</option>
        }
</select>
