<cache expires-after="@TimeSpan.FromSeconds(120)">
<h1 class="text-center">There was an error</h1>
<ul>
    <a class="btn btn-primary bg-secondary" href="/">Home </a>
    <a class="btn btn-primary bg-secondary" href="/Home/Privacy">Privacy </a>

</ul>
</cache>
