<div class="col-lg-2 p-0">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
        Settings
        </a>
        @if(Model.Email==null)
        {
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Add Email and Phone</a>
        }
        else
        {
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Change Email and Phone</a>
        }
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Transactions</a>
        <a href="/Game/AllGames?username=@this.User.Identity.Name" class="list-group-item list-group-item-action list-group-item-secondary">Games</a>
        <a href="/Card/PaymentMethods" class="list-group-item list-group-item-action list-group-item-secondary">Cards</a>
        <a asp-area="Identity" asp-page="/Account/Logout" class="list-group-item list-group-item-action list-group-item-secondary">LogOut</a>
    </div>
</div>